<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.min.js"></script>
    <script src="./component.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 500px;
            height: 300px;
        }

        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="check">查询
        <div>
            <li v-for="x,y in list[0]">
                <input type="radio" name="2" @click="op" :value="y">{{y}}
            </li>
        </div>
        <mynav :info="list" :res="rest">
            <!-- <info> -->
    </div>
</body>
<script>
    let data = [
        {
            id: '001',
            name: '小张',
            age: '29',
            sex: '男',
            major: '信息工程',
        }, {
            id: '002',
            name: '小王',
            age: '19',
            sex: '女',
            major: '信息工程',
        }, {
            id: '003',
            name: '小驴',
            age: '25',
            sex: '男',
            major: '生理学',
        }, {
            id: '004',
            name: '小赵',
            age: '22',
            sex: '男',
            major: '临床医学',
        }, {
            id: '005',
            name: '小孙',
            age: '26',
            sex: '男',
            major: '法学院',
        }, {
            id: '006',
            name: '小周',
            age: '23',
            sex: '男',
            major: '护理',
        }
    ]

    // 全局组件
    Vue.component('mynav', {
        props: ['info', 'res'],
        template: `
            <table border='1'>
                <thead>
                    <tr>
                        <th v-for="x,y in info[0]">{{y}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="x in res">
                        <td v-for="y in x">{{y}}</td>
                    </tr>
                </tbody>
            </table>
        `
    })
    let app = new Vue({
        el: '#app',
        data: {
            list: data,
            check: '',
            val:'name'
           
        },
        methods:{
            op(e){
                this.val=e.target.value
                console.log(this.val)
            }
        },
        computed: {
            rest() {
                let arr = [];
                let b = this.val
                console.log(b)
                for (let x of this.list) {
                    if(!b){
                        continue;
                    }
                    if (x[b].includes(this.check)) {
                        arr.push(x);
                    }
                }
                return arr;
            }
        },
        // components: {
        //     props:['res'],
        //     info: {
        //         template: `
        //         <table border='1'>
        //             <thead>
        //                 <tr>
        //                     <th v-for="x,y in data[0]">{{y}}</th>
        //                 </tr>
        //             </thead>
        //             <tbody>
        //                 <tr v-for="x in res"">
        //                     <td v-for="y in x">{{y}}</td>
        //                 </tr>
        //             </tbody>
        //         </table>
        //         `
        //     }
        // },
        // watch: {
        //     check() {
        //         if (this.i) {
        //             this.type = 'name'
        //         }
        //     }
        // }
    })
</script>

</html>